<!DOCTYPE html>
<html>
  <head>
    <title>Bi-temporal Todo</title>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,300,600">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
  </head>
  <body class="container">
    @RenderBody()
  </body>
</html>
